body,section{
  font-family: 'Roboto', sans-serif !important;
  /* font-weight: 300; */
}

.smaller p{
  font-size:18px !important;
  line-height: 30px !important;
}
h2{
  font-size: 38px !important;
  font-weight: 500;
}
h1{
  font-size: 64px !important;
  font-weight: 500;
}
h3{
  /* font-size: 24px !important; */
  /* font-weight: 500; */
}
.black-bg{
  background: rgba(0,0,0,0.9) !important;
  display: inline-block;
  color: white !important;
  font-weight: 300;
  padding: 10px 30px !important;
  border-radius: 6px;
}
.underline{
  text-decoration: underline;
}
.paragraph-container.white-bg{
  background: rgba(255,255,255,0.9);
  padding: 20px;
}
.paragraph-container{
  margin:30px !important;
  max-width: 720px;
  margin:0 auto;
  /* border:1px solid red !important; */
  display: inline-block;
}
p{
  text-align: center;
  display: block !important;
  line-height: 46px !important;
  font-weight: 300 !important;
  font-size: 28px !important;
}
p strong{
  font-weight: 600 !important;
}

.kaizen-logo{
  z-index: 99999999;
  position: absolute !important;
  left: 50%;
  margin-left: -60px;
  bottom: 20px;
  opacity: 0.8;
}
.kaizen-logo img {
  max-width: 120px;
}

.white-color {
  color: white;
}
